<div class="calculadora">
    <h1 class="title">Calculadora</h1>
    <div class="body">
        <input 
        placeholder="Valor A" 
        type="number" 
        [(ngModel)]="novaCalculadora.valorA"
        (focus)="novaCalculadora.limparCampos('A')"
        >
        <input 
        placeholder="Valor B" 
        type="number" 
        [(ngModel)]="novaCalculadora.valorB"
        (focus)="novaCalculadora.limparCampos('B')"
        >
        <select id="dropdown" [(ngModel)]="novaCalculadora.operacao">
            <option *ngFor="let opcao of opcoes" [value]="opcao">
                {{ opcao }}
            </option>
        </select> 
        <button (click)="novaCalculadora.fazerCalculo()">Calcular</button>
        <label>Resultado:
            <input [(ngModel)]="novaCalculadora.resultado" readonly>
        </label>
    </div>
</div>